.content {
  position: absolute;
  display: flex;
  // flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 67vw;
  height: 70vh;
}

@media (max-width: 1024px) {
  .content {
    width: 80vw;
  }
}

@media (max-width: 890px) {
  .content {
    position: static;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
